In [1]:
import sqlite3

# Create DB
conn = sqlite3.connect("student_records.db")
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    roll_no TEXT UNIQUE NOT NULL,
    department TEXT,
    gpa REAL
)
""")
conn.commit()

# Function to add student
def add_student(name, roll_no, department, gpa):
    try:
        cursor.execute("INSERT INTO students (name, roll_no, department, gpa) VALUES (?, ?, ?, ?)",
                       (name, roll_no, department, gpa))
        conn.commit()
        print(f"Student {name} added successfully!")
    except sqlite3.IntegrityError:
        print("‚ùå Roll number already exists!")

# Function to view all students
def view_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    print("\n--- Student Records ---")
    for row in rows:
        print(row)

# Function to update GPA
def update_gpa(roll_no, new_gpa):
    cursor.execute("UPDATE students SET gpa = ? WHERE roll_no = ?", (new_gpa, roll_no))
    conn.commit()
    print(f"GPA updated for Roll No {roll_no}")

# Function to delete student
def delete_student(roll_no):
    cursor.execute("DELETE FROM students WHERE roll_no = ?", (roll_no,))
    conn.commit()
    print(f"Student with Roll No {roll_no} deleted")

# ---------------- DEMO ----------------
add_student("Alice", "CS101", "CSE", 9.1)
add_student("Bob", "CS102", "CSE", 8.7)
add_student("Charlie", "EC201", "ECE", 8.5)

view_students()

update_gpa("CS101", 9.4)
delete_student("EC201")

view_students()

Student Alice added successfully!
Student Bob added successfully!
Student Charlie added successfully!

--- Student Records ---
(1, 'Alice', 'CS101', 'CSE', 9.1)
(2, 'Bob', 'CS102', 'CSE', 8.7)
(3, 'Charlie', 'EC201', 'ECE', 8.5)
GPA updated for Roll No CS101
Student with Roll No EC201 deleted

--- Student Records ---
(1, 'Alice', 'CS101', 'CSE', 9.4)
(2, 'Bob', 'CS102', 'CSE', 8.7)